				<div >
					<a >
						<h1>Franco May</h1>
					</a>
					<nav >
						<ul>
							<li>
								<a >Home</a>
							</li>
							<li>
								<a >About</a>
							</li>
							<li>
								<a >Blog</a>
							</li>
							<li>
								<a >Contact</a>
							</li>
						</ul>
					</nav>
					<button >
						<svg >
							<path ></path>
						</svg>
					</button>
				</div>
				<main >
					<div >
						<div >
							<div >
								<div >Natasha</div>
							</div>
							<div >
								<div >alta zorrita</div>
							</div>
							<div >
								<div >tagg</div>
							</div>
						</div>
						<p >
							<span >Franco May</span>
							|
							<span>ninth of March, 2023</span>
						</p>
						<h1 >les presento a
							<u>mi woman</u>
						</h1>
						<div >
							<div >
								<div >ok. esta es mi woman.&nbsp; esto es mi primer blog. que tal, eh? lo estoy escribiendo directamente en la pagina de blog. nada de pagina de edicion de blog post ni toda esa Merrrrd</div>
							</div>
						</div>
						<div >
							<div >
								<div >
									<img >
								</div>
								<h3 >This is a nice image, isn't it?</h3>
							</div>
						</div>
						<div >
							<div >
								<div >
									<img >
								</div>
								<h3 >ya estas celoso?</h3>
							</div>
						</div>
						<div >
							<div >
								<div >bueno, eso y mucho mas. (queres ejemplos?)<div>efeame por reverse<b>ah reee!</b>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<footer >
					<p>© 2023, Made from scratch. Check out the
						<a >Source code</a>
						for this site on GitHub.</p>
					<p>Also, feel free to steal my code 😊.</p>
				</footer>